/* 
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video 

{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

/* End of Reset */

body {
	font-family: 'Roboto', sans-serif;
}

/* NAV BAR STYLE */

.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
}

.top-navigation > .content {
	width: 809px;
	height: 70px;
	margin: 0 auto;
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
}

.top-navigation .links {
	float: right;
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

.top-navigation .logo {
	height: 4.375rem;
}

/*END OF NAV BAR*/

/*START OF INTRO SECTION*/

.introduction {
	background-image: url('../img/first-background.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	height: 42rem;
}

.introduction h1 {
	margin-top: 16rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

.big-button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
}

.big-button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;	
}

.bouncing-arrow {
	position: absolute;
	height: 5.625rem;
	bottom: 0;
	width: 3.250rem;
	left: 50%;
	z-index: 1000;
	margin-left: -1.625rem;
}

.bouncing-arrow img {
	-webkit-animation: bounce 1.2s ease-in-out infinite alternate;
}

/* END OF INTRO SECTION */

/* START OF SECOND SECTION */

.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 7.785rem;
}

.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}

.cases .content {
	margin-top: 7.875rem;
	color: #1d1e21;
	text-align: center;
}

.cases .devices {
	width: 33.333%;
	display: inline-block;
	box-sizing: border-box;
	height: 4em;
	margin-right: -4px;
}

.devices {
	text-align: center;
}

.cases .devices h3 {
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}

.cases .devices p {
	font-weight: 300;
	font-size: 1.313rem;
	margin-bottom: 7.875rem;
}

/* END OF SECOND SECTION */

/* START OF THIRD SECTION */

.buy-now {
	background-image: url('../img/buy-now-bg.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 42rem;
}

.buy-now h2 {
	font-weight: 400;
	font-size: 1.563rem;
	color: #f15a29;
	display: block;
	padding: 1rem 1.5rem;
}

.buy-now p {
	font-weight: 300;
	font-size: 1.15rem;
	line-height: 1.5;
	color: #4c5058;
	margin-bottom: 1.250rem;
}

button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

.buy-now .adjustable {
	width: 15rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	margin-left: 9rem;
	padding-top: 50px;
}


/* END OF THIRD SECTION */

/* BEGINNING OF FOOTER */

.social {
	background-color: #fff;
	overflow: auto;
	padding-top: 3rem;
	padding-bottom: 9.375rem;
	text-align: center;
}

.social .list {
	margin-top: 7.875rem;
	color: #1d1e21;
	text-align: center;
}

.list .shortcuts {
	width: 33.333%;
	display: inline-block;
	box-sizing: border-box;
	height: 4em;
	margin-right: -4px;
}

.social hr {
	border: 0px;
	border-top: 1px solid #cfd2d4;
	margin: 1.313rem 0;
}

hr {
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start; auto;
	-webkit-margin-end: auto;
}

.social h4 {
	text-align: center;
}

.social .icons {
	text-align: center;
}

.social .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #cfd2d4;
	padding: 0.625rem 0;
	text-align: center;
}

.social .fa-twitter {
	color: #55acee;
}

.social .fa-facebook {
	color: #4c66a4;
}

.social .fa-instagram {
	color: #3f729b;
}

.content p {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
}

/* END OF FOOTER */